name: release-branch.yml
on:
  workflow_dispatch:

jobs:
  build_release_branch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build common function libraries
        run: ./.github/workflows/scripts/build_common_libraries.sh

      - name: Get Version
        run: |
          echo "VERSION=$(awk -F '"' '/^version *=/ { print $2 }' pyproject.toml)" >> $GITHUB_ENV

      - name: Check if branch exists
        run: |
          echo "Checking if branch 'release/${{ env.VERSION }}' exists..."
          echo "release_branch_exists=false" >> "$GITHUB_ENV"

          if git ls-remote --exit-code --heads origin release/${{ env.VERSION }} > /dev/null 2>&1; then
            echo "release_branch_exists=true" >> "$GITHUB_ENV"
          fi

      - name: Create & switch to new release branch
        run: |
          git config user.name "query-engine-team"
          git config user.email "query-engine-team@zscaler.com"
          git fetch
          
          echo "${{ env.release_branch_exists }}"
          
          if [ ${{ env.release_branch_exists }} = "true" ]; then
            git checkout release/${{ env.VERSION }}
          else
            git checkout -b release/${{ env.VERSION }}
          fi

      - name: Push to release branch
        run: |
          git add common_libraries/
          git commit -m "Release ${{ env.VERSION }}"
          git push origin release/${{ env.VERSION }}